body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #535353;
}
.container {
  background-color: white;
  width: 1100px;
}

.triggers {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trigger-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(20px);
  width: 50%;
}

.left-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 45%;
  background-color: #a4a4a4;
  border-radius: 100% 20px 20px 20px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.left-trigger:hover {
  /* in js*/
}

.left-trigger:active {
  transform: translateY(10px);
}

.right-trigger {
  height: 90%;
  width: 45%;
  background-color: #a4a4a4;
  border-radius: 10% 100% 10% 10%;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.right-trigger:hover {
  /* in js*/
}

.right-trigger:active {
  transform: translateY(10px);
}

.tg-icon {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
}

#left-tg-icon img {
  transform: rotate(180deg);
}

.tg-icon img {
  height: 100%;
}

.tg-id {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.tg-name {
  position: relative;
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #616161;
  font-size: 1.5em;
  font-weight: bold;
  bottom: 0;
}
