body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #e3e3e3;
}

p {
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.container {
  width: 1300px;
  margin-top: 20px;
}

.triggers {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#left-trigger-a,
#right-trigger-a {
  text-decoration: none;
  width: 40%;
  height: 90%;
}

#left-trigger-a {
  border-radius: 100% 20px 20px 20px;
}

#right-trigger-a {
  border-radius: 20px 100% 20px 20px;
}

.trigger-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(80%);
  width: 80%;
}

.left-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 100% 20px 20px 20px;
  cursor: pointer;
}

#middle-trigger-a {
  width: 10%;
  height: 70%;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#middle-trigger-a:active {
  transform: translateY(10px);
}

.middle-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  border: solid 2px black;
  cursor: pointer;
  transition: background-color 0.2s ease; /* Correction ici */
}

.middle-trigger:hover {
  background-color: #a0a0a0;
}

#right-td {
  flex-direction: row-reverse;
}

.right-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 20px 100% 20px 20px;
  cursor: pointer;
}

.td-icon {
  height: 50px;
}

#left-td-icon img {
  transform: rotate(180deg);
  background-color: white;
  border-radius: 100%;
}

#right-td-icon img {
  background-color: white;
  border-radius: 100%;
}

.td-icon img {
  height: 100%;
}

.td-id {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  width: 30%;
  display: flex;
  justify-content: center;
}

.td-name {
  position: relative;
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #3a3a3a;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.poke-title {
  font-family: "Flexo-Medium", arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2em;
}

.poke-details {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.left-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.poke-image {
  height: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
}

.poke-image img {
  height: 100%;
  aspect-ratio: 1;
  background-color: #f2f2f2;
  border-radius: 5%;
}

.stats-div {
  width: 100%;
  height: 90%;
  background-color: #a4a4a4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-div p {
  margin-top: 20px;
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
}

.stats-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-bottom: 10px;
}

.stats-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
}

.stats-name p,
.stats-value p {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.stats {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
}

.stats-value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 100%;
}

.description {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}

.description p {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #000000;
  font-size: 1.5em;
  text-align: justify;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-radius: 10px;
}

.left-info,
.right-info {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-title {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.info-value {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #000;
  font-size: 1em;
}

.sexe-ratio {
  margin-top: 15px;
  height: 10px;
  width: 80%;
  background-color: #fff;
}

.multipliers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 55%;
}

.multiplier {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.multiplier-title {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #000000;
  font-size: 1.25em;
  font-weight: bold;
}

.multiplier-types {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 70%;
  border-radius: 10px;
}

.type p {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.evolutions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

.evolutions-title {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #616161;
  border-radius: 10px 10px 0 0;
}

.evolutions-title p {
  height: 100%;
  width: 95%;
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #616161;
}

.evolutions {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #616161;
  border-radius: 0 0 10px 10px;
}

.evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 10px;
}

.evolution a {
  height: 50%;
  aspect-ratio: 1;
}


.evolution-img {
  height: 100%;
  aspect-ratio: 1;
  background-color: #616161;
  border: solid 5px white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evolution img {
  height: 80%;
  aspect-ratio: 1;
}


.evolution-name {
  height: 20%;
  width: 100%;
  font-size: 3em;
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evolution-id {
  height: 10%;
  width: 100%;
  font-size: 2em;
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.evolution-types {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.evolution-type {
  height: 40%;
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}