body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #535353;
}
.container {
  background-color: white;
  width: 1100px;
}

.triggers {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.triggers a {
  text-decoration: none;
  width: 45%;
  height: 90%;
}

#left-trigger-a {
  border-radius: 100% 20px 20px 20px;
}

#right-trigger-a {
  border-radius: 20px 100% 20px 20px;
}

.trigger-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(35%);
  width: 80%;
}

.left-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #a4a4a4;
  border-radius: 100% 20px 20px 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.left-trigger:hover {
  /* in js*/
}

.left-trigger:active {
  transform: translateY(10px);
}

#right-td {
  flex-direction: row-reverse;
}

.right-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #a4a4a4;
  border-radius: 20px 100% 20px 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.right-trigger:hover {
  /* in js*/
}

.right-trigger:active {
  transform: translateY(10px);
}

.td-icon {
  height: 50px;
}

#left-td-icon img {
  transform: rotate(180deg);
  background-color: white;
  border-radius: 100%;
}

#right-td-icon img {
  background-color: white;
  border-radius: 100%;
}

.td-icon img {
  height: 100%;
}

.td-id {
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  width: 30%;
  display: flex;
  justify-content: center;
}

.td-name {
  position: relative;
  font-family: "Flexo-Bold", arial, sans-serif;
  color: #3a3a3a;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
