* {
  font-family: Arial, sans-serif;
  margin: 0;
}

p,
label {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.topnav {
  height: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.pokemon-img {
  position: relative;
  bottom: 135px;
  height: 100px;
  z-index: 1;
}

.logo-img {
  position: absolute;
  height: 150px;
}

.sf-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  height: 70px;
}

.search {
  display: flex;
  justify-content: center;
  width: 20%;
}

.types-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 52%;
  height: 70px;
  background-color: grey;
  margin-top: 50px;
}

.types-filter input[type="checkbox"] {
  display: none;
}

.types-filter label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  aspect-ratio: 1/1;
  border: 2px solid;
  border-radius: 100%;
}

.types-filter img {
  height: 70px;
}

.types-filter input[type="checkbox"]:checked + label img {
  filter: grayscale(100%);
  transition: filter 0.2s ease;
}

.types-filter input[type="checkbox"]:not(:checked) + label img {
  filter: grayscale(0%);
  transition: filter 0.1s ease;
}

.right-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  background-color: red;
}

#search-bar {
  width: 100%;
  font-size: 1.5em;
}

#poke-cards {
  width: 70%;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button[type="submit"]:active {
  outline: none;
  background-color: #0026ff;
}

button[type="submit"]:focus {
  outline: none;
}

.pokemon-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.poke-card {
  width: 100%;
  aspect-ratio: 5/7;
  padding: 5px;
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 4px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.items:hover {
  transform: translateY(-20px);
}

.poke-card-img {
  width: 70%;
  aspect-ratio: 1/1;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 10px;
}

.poke-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.poke-card-id {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.poke-card-id p {
  color: #919191;
  font-family: "Flexo-Bold", arial, sans-serif;
  font-weight: bold;
  font-size: 1vw;
  margin: 0;
  padding: 0;
}

.poke-card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Flexo-Demi", arial, sans-serif;
}

.poke-card-name p {
  color: #313131;
  font-weight: bold;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

.poke-card-types {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 28%;
}

.type {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  height: 30%;
  position: relative;
}

.type-name {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  font-family: "Flexo-Bold", arial, sans-serif;
  font-size: 1vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.type-image {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
}

.type-image img {
  height: 80%;
}

@media screen and (max-width: 767px) {
  .poke-card-id p,
  .type p {
    font-size: 2vw;
  }
  .poke-card-name p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 575px) {
  .poke-card-id p,
  .type p {
    font-size: 4vw;
  }

  .poke-card-name p {
    font-size: 8vw;
  }
}
