* {
  font-family: Arial, sans-serif;
  margin: 0;
}

.topnav {
  height: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.pokemon-img {
  position: relative;
  bottom: 135px;
  height: 100px;
  z-index: 1;
}

.logo-img {
  position: absolute;
  height: 150px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button[type="submit"]:active {
  outline: none;
  background-color: #0026ff;
}

button[type="submit"]:focus {
  outline: none;
}

.pokemon-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-card {
  width: 100%;
  aspect-ratio: 5/7;
  padding: 5px;
  transition: transform 0.2s ease;
}

.poke-card:hover {
  transform: translateY(-10px);
}

.items {
  border-width: 2px;
  border-radius: 10px;
  background-color: rgb(209, 209, 209);
  height: 100%;
  width: 100%;
}
